{% extends "ImieServiceBundle::layout.html.twig" %}

{% block title %} Ajouter une catégorie {% endblock %}
{% block menu %}addCategorie{% endblock %}
{% block body %}

<h1>Ajouter une catégorie</h1>

{{ form(formulaire_categorie) }}

{% endblock %}
