{% extends "ImieServiceBundle::layout.html.twig" %}

{% block menu %}addService{% endblock %}
{% block title %} Ajouter un Service {% endblock %}


{% block body %}

<h1>Ajouter un service</h1>
{{ form(formulaire_service) }}
{% endblock %}



{% block javascripts %}
<script src="{{ asset('bundles/imieservice/js/jquery-ui.js') }}"></script>
<script type="text/javascript">
$(function() {
  $( "#imie_servicebundle_unservice_createdAt" ).datepicker();
});
</script>
{% endblock %}
