{% extends "ImieServiceBundle::layout.html.twig" %}

{% block title %} coucouuu {% endblock %}



{% block body %}
<ul>
  {% for service in mes_services %}
    <li>{{ service.titre }}</li>
  {% endfor %}
</ul>
{% endblock %}
