{% extends "ImieMainBundle::layout_base.html.twig" %}

{% block body %}
    <h1>Editer le service</h1>

    {{ form(edit_form) }}


        <a href="{{ path('service') }}">
            Retour à la liste
        </a>
{{ form(delete_form) }}
{% endblock %}
