<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %} test {% endblock %}</title>
  {% block stylesheets %}
    <link href="{{ asset('bundles/imieservice/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imieservice/css/jquery-ui.css') }}" rel="stylesheet" />
    <link href="{{ asset('bundles/imieservice/css/style.css') }}" rel="stylesheet" />
  {% endblock %}


</head>
<body>
  {% include 'ImieServiceBundle::header.html.twig' with {"current" : block('menu')} %}
  {#{}% include('ImieServiceBundle::header.html.twig') %#}
  <div class="container">

    {% block body %}  {% endblock %}

   </div>


   <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
   <script src="{{ asset('bundles/imieservice/js/bootstrap.js') }}"></script>
  {% block javascripts %}
  {% endblock %}

</body>
</html>
